DATABASE_HOST="$(op read op://Dev/j4l6atlxjujgovgeetxtxxoy64/server)"
DATABASE_USER="$(op read op://Dev/j4l6atlxjujgovgeetxtxxoy64/username)"
DATABASE_PASS="$(op read op://Dev/j4l6atlxjujgovgeetxtxxoy64/password)"
DATABASE_NAME="$(op read op://Dev/j4l6atlxjujgovgeetxtxxoy64/database)"

export DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}/${DATABASE_NAME}?schema=public&sslmode=require"

op inject --in-file=env.tpl --out-file=apps/web/.dev.vars --force >/dev/null
