export OP_ACCOUNT_DOMAIN="my.1password.com"
export SECTION="$(if [ $(git symbolic-ref --short HEAD) == "main" ]; then echo "PROD"; else echo "DEV"; fi)"

DATABASE_HOST="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Dev/j4l6atlxjujgovgeetxtxxoy64/server)"
DATABASE_USER="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Dev/j4l6atlxjujgovgeetxtxxoy64/username)"
DATABASE_PASS="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Dev/j4l6atlxjujgovgeetxtxxoy64/password)"
DATABASE_NAME="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Dev/j4l6atlxjujgovgeetxtxxoy64/database)"

export DATABASE_URL="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Dev/j4l6atlxjujgovgeetxtxxoy64/DATABASE_URL)"

op inject --account=${OP_ACCOUNT_DOMAIN} --in-file=dev.vars.tpl --out-file=apps/web/.dev.vars --force >/dev/null
op inject --account=${OP_ACCOUNT_DOMAIN} --in-file=env.tpl --out-file=apps/web/.env.local --force >/dev/null
