export OP_ACCOUNT_DOMAIN="my.1password.com"
export SECTION="$(if [ $(git symbolic-ref --short HEAD) == "main" ]; then echo "PROD"; else echo "DEV"; fi)"

export DATABASE_URL="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Dev/u2djddditxramzdmcemimb4lbq/${SECTION}/DATABASE_URL)"

op inject --account=${OP_ACCOUNT_DOMAIN} --in-file=templates/dev.vars.tpl --out-file=apps/web/.dev.vars --force >/dev/null
op inject --account=${OP_ACCOUNT_DOMAIN} --in-file=templates/env.tpl --out-file=apps/web/.env --force >/dev/null
op inject --account=${OP_ACCOUNT_DOMAIN} --in-file=templates/wrangler.toml.tpl --out-file=apps/web/wrangler.toml --force >/dev/null
